.list-users{
    width: 28%;
}

.chat-contents{
    width: 72%;
}

/*In component UserChat*/

.Container-user{
    width: 90%;
    margin: auto;
}

.Editprofil{
    margin: auto;
    color:#8186A0;
}


.imgUser{
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
    border: #979797 solid 2px;
}

.SearchUser{
    display: block;
    width: 90%;
    padding: 5px 10px;
    margin: 0 auto;
    font-size: 0.8em;
    color: #979797;
    border: .5px solid #979797;
    border-radius: 18px;    
}

.Names{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.NameUser{
    font-weight: bold;
    font-size: .9em;
    color: #5843E4;
}

.descriptionUser{
    font-size: .7em;
    color: #8186A0;
}



/*News Messages*/
.ContainerMessage{
    width: 100%;
}

.imgUserMessage{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.MessageContent{
    margin-left: 8px;
    width: 60%;
}

.UsersendMessage{
    font-weight: bold;
    font-size: .8em;
    color: #5843E4;
}


.messages{
    width: 95%;
    max-height: 35px;
    overflow: hidden;
    font-size: .67em;
    color: #8186A0;
}

.Date{
    color: #979797;
    font-size: .65em;
}
.numberMessages{
    color: #fff;
    background-color: #5843E4;
    font-size: .6em;
    padding: 0 6px;
    border-radius: 50%;
}




