.InputText{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 15px;
}

.LabelField{
    color: #2F2E41;
    font-size: 0.85em;
    margin: 5px 10px ;
}

.InputField{
    padding: 8px 5px;
    font-size: 0.8em;
    color: #2F2E41;
    background-color: #F9F9FC;
    width: 100%;
    border: 1px solid #979797;
    border-radius: 6px;
}

.InputField:active{
    color: #2F2E41;
    background-color: white;
    width: 100%;
    border: 1px solid #979797;
}

.ButtonSubmit{
    display: block;
    font-size: 1em;
    font-weight: bold;
    color: #F9F9FC;
    background-color: #2F2E41;
    padding: 8px 0;

    width: 30%;
    margin: auto;
    margin-top: 20px;

    border: 1px solid #979797;
    border-radius: 6px;
    transition: all 0.5s;
}

.ButtonSubmit:hover{
    transform: scale(1.05);
    opacity: .8;
}