.TitleLogReg {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;

    width: 40%;
    margin: auto;
    margin-bottom: 5px;
}

.imgLogReg {
    display: block;
    width: 60px;
    height: 60px;
    margin: auto;
}

.ErrorLog {
    background-color: #efefef;
    padding: 2px 10px;
    margin: 5px auto;
}

.HiddenErrorLog {
    display: none;
}