/* the style for a Message components from chat page*/

.Chat-Header {
    height: 10vh;
    border-bottom: solid 1px #E2E3E9;
}

.imgChat {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    border: #979797 solid 1px;
}

.NowUserchat {
    font-weight: bolder;
}


.Chat-Footer {
    height: 12vh;
    border-top: solid 1px #E2E3E9;
}

.InputMessage {
    display: block;
    width: 70%;
    padding: 5px 10px;
    font-size: 0.8em;
    color: #979797;
    border: 1px solid #979797;
    border-radius: 18px;
}



.iconeBtns {
    color: #979797;
    font-size: 1.3em;
    transition: all .5s;
}

.iconeBtns:hover {
    color: #5843E4;
    transform: scale(1.04);
}

.sendMessagebtn {
    color: #fff;
    background-color: #5843E4;
    padding: 8px;
    font-size: 1.2em;
    border-radius: 50%;
}

/*Designed any messages */
.containerMessage {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 20px 0;
}

.otherUser {
    border-radius: 6px 6px 6px 0;
    background-color: #F9F9FC;
}

.OwnerUser {
    display: inline-block;
    width: max-content;
    max-width: 50%;

    color: #fff;
    background-color: #5843E4;
    border-radius: 6px 6px 0px 6px;
}