/* the style for a Message components from chat page*/

.Chat-Header {
    height: 10vh;
    border-bottom: solid 1px #E2E3E9;
}

.imgChat {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    border: #979797 solid 1px;
}

/*Online Anymation*/
@keyframes OnlineAnim {
    from{
        opacity:0;
    }

    to{
        opacity: 1;
    }
}

@keyframes OfflineAnim {
    from{
        opacity:0;
        text-align: right;
    }

    to{
        opacity: 1;
        text-align: left;
    }   
}

.OnlineClass{
    animation: OnlineAnim .8s ease-in-out;
}

.OfflineClass{
    animation: OfflineAnim 3s ease-in-out;
}

/*Bouton on HeadChat*/
.ChatHeadBtns {
    transition: all .4s ease-in-out;
}

.ChatHeadBtns:hover {
    transform: scale(1.23);
    color: #5843E4;
    cursor: pointer;
}


.Chat-Footer {
    height: 12vh;
    border-top: solid 1px #E2E3E9;
}

/* design a textArea */
.InputMessage {
    resize: none;
    padding: 7px 10px;
    font-size: 0.75em;
    color: #8186A0;
}

textarea {
    border-bottom: solid 1px #E2E3E9;
    text-align: justify;
}

textarea::-webkit-scrollbar {
    background-color: #F9F9FC;
    width: 5px;
    border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #E2E3E9;
    border-radius: 10px;
}

textarea::-webkit-scrollbar-button {
    background-color: #E2E3E9;
    height: 5px;
    border-radius: 10px;
}


/*boutons*/
.iconeBtns {
    color: #8186A0;
    font-size: .9em;
    transition: all .6s;
    box-shadow: 0 0 5px #E2E3E9;
    border-radius: 8px;
}

.iconeBtns:hover {
    background-color: #5843E4;
    color: #F9F9FC;
    transform: scale(1.04);
}

.sendMessagebtn {
    color: #8186A0;
    font-size: .9em;
    transition: all .6s;

    box-shadow: 0 0 3px #E2E3E9;
    border-radius: 8px;
}

.sendMessagebtn:hover {
    color: #F9F9FC;
    background-color: #5843E4;
    transform: scale(1.05);
    font-size: 1em;
}


/* scrolling list Friends */

.ListFriendContainer {
    scrollbar-width: thin;
    overflow-y: auto;
}

.ListFriendContainer::-webkit-scrollbar-button, .ListFriendContainer::-webkit-scrollbar-thumb, .ListFriendContainer::-webkit-scrollbar  {
    display: none;
}

.Line {
    width: 98%;
    margin: auto;
    border-top: #E2E3E9 solid 1px;
}

/*Designed any messages */
.containerMessage {
    scrollbar-width: thin;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding: 10px 0px;
}

.containerMessage::-webkit-scrollbar-thumb,.containerMessage::-webkit-scrollbar, .containerMessage::-webkit-scrollbar-button {
    display: none;
}

.BlocMessage {
    width: max-content;
}

.otherUser {
    max-width: 80%;
    width: fit-content;

    border-radius: 15px 15px 15px 0;
    background-color: #F9F9FC;
    box-shadow: 0px 0px 3px #E2E3E9;
    color: #8186A0;
    padding:10px;

    text-align: left;
    font-family: comfoortaB;
}

.OwnerUser {
    max-width: 80%;

    /*Text*/
    text-align: left;
    padding: 10px;
    color: #fff;
    background-color: #5843E4;
    border-radius: 15px 15px 0px 15px;
    box-shadow: 0px 0px 3px #E2E3E9;
}


/*Media Querry*/
@media screen and (max-width:920px) {
    .Chat-Header {
        box-shadow: 0 0 6px 0 #E2E3E9;
        padding: 0 15px;
    }
    
}