@tailwind base;
@tailwind components;
@tailwind utilities;
@import './index-navbar.css';
@import './login-register.css';
@import './inputComponents.css';
@import './chat.css';
@import './contentChat.css';
@import './loading.css';

@font-face {
    font-family: 'comfoorta';
    src: url('./fonts/Comfortaa_Regular.ttf');
}

body {
    font-family: 'comfoorta', sans-serif;
    height: 100vh;
    margin: 0 15px;
}

.border {
    border: solid black 1px;
}

/*Focused Fields*/
.SearchUser:focus {
    border: none;
    outline: solid 1px #E2E3E9;
}

textarea:focus {
    border: none;
    outline: solid 1px #E2E3E9;
    border-radius: 20px;
}