@tailwind base;
@tailwind components;
@tailwind utilities;
@import './colors/index-navbar.css';
@import './colors/login-register.css';
@import './colors/inputComponents.css';
@import './colors/chat.css';
@import './contentChat.css';

@font-face{
    font-family: 'comfoorta';
    src:url('./fonts/Comfortaa_Regular.ttf');
}

body{
    font-family: 'comfoorta', sans-serif;
    height: 100vh;
}

.border{
    border:  solid black 1px;
}
