@tailwind base;
@tailwind components;
@tailwind utilities;
@import './colors/Colors.css';

@font-face{
    font-family: 'comfoorta';
    src:url('./fonts/Comfortaa_Regular.ttf');
}

body{
    font-family: 'comfoorta', sans-serif;
    height: 100vh;
}

.border{
    border:  solid black 1px;
}
