.InputText {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 15px;
}


.LabelField {
    color: #8186A0;
    font-size: 0.75em;
    margin: 5px 10px;
}

.InputField {
    padding: 8px 5px;
    font-size: 0.7em;
    color: #8186A0;
    width: 100%;
    border: .5px solid #8186A0;
    border-radius: 10px;
}

.InputField:focus {
    outline: none;
}


.ButtonSubmit {
    display: block;
    font-size: 1em;
    font-weight: bold;
    color: #E2E3E9;
    background-color: #8186A0;
    opacity: .7;
    padding: 8px 0;

    margin: auto;
    margin-top: 25px;

    border-radius: 6px;
    transition: all 0.5s;
}

.falseDisble {
    color: #F9F9FC;
    background-color: #5843E4;
    opacity: 1;
}
@media screen and (min-width:540px) {

    .HoverBtn:hover {
        transform: scale(1.01);
    }
}