.TitleLogReg {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;

    width: 40%;
    margin: auto;
    margin-bottom: 5px;
}

.imgLogReg {
    display: block;
    width: 60px;
    height: 60px;
    margin: auto;
}

/*message error */

@keyframes loadError {
    from {
        margin: 0;
        text-align: left;
    }

    to {
        margin: 0 5%;
        text-align: center;
    }

}

.ErrorLog {
    background-color: #efefef;
    font-size: smaller;
    padding: 2px 20px;
    margin: 3px 5%;
    animation: loadError 1s ease-in-out;
}

.HiddenErrorLog {
    display: none;
}