.TitleLogReg {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    color: #5843E4;
    width: 40%;
    margin: auto;
    margin-bottom: 5px;
}

.imgLogReg {
    display: block;
    width: 60px;
    height: 60px;
    margin: auto;
}

/*message error */

@keyframes loadError {
    from {
        top: 150px;
        left: 5%;
    }

    to {
        top: 150px;
        left: 20%;
    }
}

.ErrorLog {
    position:absolute;
    top: 150px;
    left: 20%;
    animation: loadError 1.5s ease-out;
}

.ErrorMsg{
    background-color: #5843E4;
    font-size: smaller;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #E2E3E9;
}

.hiddenErrorLog{
    display: none;
}