.TitleLogReg {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    color: #5843E4;
    width: 40%;
    margin: auto;
    margin-bottom: 5px;
}

.imgLogReg {
    display: block;
    width: 60px;
    height: 60px;
    margin: auto;
}

/*message error */

@keyframes loadError {
    from {
        margin: 0;
        text-align: left;
    }

    to {
        margin: 0 6%;
        text-align: center;
    }

}
.ErrorLog {
    animation: loadError 1s ease-in-out;
    margin: 0 6%;
}

.ErrorMsg{
    background-color: #5843E4;
    font-size: smaller;
    padding: 10px 20px;
    margin: 10px ;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #E2E3E9;
}
